<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Simon's Flask Project</title>
</head>
<body>
    <h3>Welcome to my Flask Project</h3>

    <p>I built this website to help me learn the Flask framework.</p>
    <p>Udemy Course: "Complete Python Developer" from Zero to Mastery</p>
    <hr>

    <h4>Day 1</h4>
    <ul>
        <li>setting up a flask project</li>
        <li>flask templates</li>
        <li>flask static files</li>
        <li>templating engine</li>
        <li>URL parameters</li>
    </ul>

    <h4>Day {{ 1 + 1 }}</h4>
    <ul>
        <li>Build a portfolio 1</li>
        <li>Build a portfolio 2</li>
        <li>Build a portfolio 3</li>
        <li>Build a portfolio 4</li>
    </ul>


    <script src='static/myscript.js'></script>
</body>
</html>